{include file='header_wap.html'}
	
<script type="text/javascript" src="{$__PUBLIC__}/js/resetpwd_wap.js"></script>

		<div class="login_right"></div>
	</div>
	
	<div id="reset_pwd">
		<form method="post" id="reset" name="reset" action="/account/doreset_pwd">
			<input type="hidden" name="UserID" id="UserID" value="{$UserID}" />
			<input type="hidden" name="pwd" id="pwd" value="{$pwd}" />
			
			<div class="form_input">
				{if $pwd == 1}
				<div><input type="password" size="20" name="oldPWD" id="oldPWD" /></div>		
				{/if}
				<div><input type="password" size="20" name="newPWD" id="newPWD" /></div>
				<div><input type="password" size="20" name="seNewPWD" id="seNewPWD" /></div>
			</div>
			
			<div class="form_button">
				<input type="button" id="submit_btn" size="20" value="{$Lang.PH_LANG.Confirm}" />
				<input type="button" id="button_btn" class="mar_left" size="20" value="{$Lang.PH_LANG.Reset}" />
			</div>
		</form>
	</div>
	
<script type="text/javascript">
var resetFrom = new TresetFrom();
resetFrom.PH_LANG = {$PH_LANG};

//页面完全再入后初始化
$(document).ready(function(){
	resetFrom.init();
});
//释放
$(window).unload(function(){
	resetFrom = null;
});
</script>

{include file='footer_wap.html'}