

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>使用jQuery和css进行更好的checkbox按钮设计</title>

    <link rel="stylesheet" type="text/css" href="{$__PUBLIC__}/js/jquery.tzCheckbox/jquery.tzCheckbox.css"/>
    <script src="{$__PUBLIC__}/js/jquery.min.js"></script>
    <script src="{$__PUBLIC__}/js/jquery.tzCheckbox/jquery.tzCheckbox.js"></script>
	<script src="{$__PUBLIC__}/js/jquery.tzCheckbox/script.js"></script>
</head>
<body>

<ul>
            <li><label for="ch_effects">效果: </label><input type="checkbox" id="ch_effects" name="ch_effects"
                                                           data-on="显示效果" data-off="隐藏效果" /></li>
             <li><label for="ch_panel">是否启用面板: </label><input type="checkbox" id="ch_emails" name="ch_emails" checked="checked"/></li>
            <li><label for="ch_skin">是否启用皮肤: </label><input type="checkbox" id="ch_emails" name="ch_emails" checked="checked"/></li>
            <li><label for="ch_emails">启用邮箱验证: </label><input type="checkbox" id="ch_emails" name="ch_emails"
                                                            checked="checked"   data-on="开" data-off="关"/></li>
        </ul>



</body>
</html>

