

<div>

	<div class="b_point f_l">
		<div class="w_460 z_w t_a f_l p_l_5">{$Lang.ComeFrom}</div>
		<div class="w_40 z_w t_a f_r">{$Lang.Points}</div>
		<div class="w_100 z_w t_a f_r">{$Lang.Time}</div>	
	</div>
	
	<div class="b_point f_l">
		<div class="w_460 f_l p_l_5">让您的空间从现在的每月200Mb增加至500Mb(需要100积分)</div>
		<div class="w_40 f_r t_a">100</div>
		<div class="w_100 f_r t_a">2012-04-24</div>	
	</div>
	
	<div class="b_point f_l">
		<div class="w_460 f_l p_l_5">让您的空间从现在的每月200Mb增加至500Mb(需要100积分)</div>
		<div class="w_40 f_r t_a">100</div>
		<div class="w_100 f_r t_a">2012-04-24</div>	
	</div>
	
	<div class="b_point f_l">
		<div class="w_460 f_l p_l_5">让您的空间从现在的每月200Mb增加至500Mb(需要100积分)</div>
		<div class="w_40 f_r t_a">100</div>
		<div class="w_100 f_r t_a">2012-04-24</div>	
	</div>	
		
</div>

