<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/profile_u_safe.js"></script>
<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/checkPassWord.js"></script>

<div class="user_profile_right_box">
    <div class="user_profile_right_box_b">
        <div class="b_title">{$Lang.AccountSafe}</div>
        <div class="b_content" id="AccountSafe">
        	<ul>
                <li><dl>{$Lang.SafePassWord}:</dl><dt>{$Lang.PassWordNotice}</dt><dr><a href="javascript:userSafe.domodify('SafePassWord','{$Lang.Modify}{$Lang.SafePassWord}',{$pwd})">{$Lang.Modify}</a></dr></li>
            </ul>
        </div>
        
    </div>
    
    <div class="user_profile_right_box_b">
        <div class="b_title">{$Lang.AuthAccount}</div>
        <div class="b_content" id="AccountSafe">
        	<ul>
                <li><dl>{$Lang.SafeRealName}:</dl><dt>{$safeInfo.uRealName}</dt><dr>{if !$safeInfo.uRealName}<a id="safeRealName" href="javascript:void(0);">{$Lang.Add}</a>{/if}</dr></li>
                <li>
                	<dl>{$Lang.SafeEmail}:</dl>
                	<dt>{$safeInfo.uSafeEmail}</dt>
                	<dr>
                		<a id="safeEmail" href="javascript:void(0);">
                			{if $safeInfo.uSafeEmail}{if $safeInfo.uAuthEmail == 1}{$Lang.NotActivated}{else}{$Lang.Modify}{/if}{else}{$Lang.Add}{/if}
                		</a>
                	</dr>
                </li>
                <li style="display:none;"><dl>{$Lang.SafePhone}:</dl><dt>{$safeInfo.uSafePhone}</dt><dr><a id="safePhone" href="javascript:void(0);">{if $safeInfo.uSafePhone}{$Lang.Modify}{else}{$Lang.Add}{/if}</a></dr></li>
            </ul>
        </div>
        
    </div>
      
    <div class="user_profile_right_box_b" style="display:none;">
        <div class="b_title">{$Lang.BandAccount}</div>     
        <div class="b_qr">
        	<img src="{$qrUrl}" />
        	<div class="b_exp">{$Lang.QRExplain}.&nbsp;&nbsp;<a href="{$clientSDK}" target="_blank">{$Lang.Download}</a></div>
        </div>
    </div>
    
    <div class="user_profile_right_box_b" style="display:none;">
        <div class="b_title">{$Lang.AppAuth}</div>
        <div class="b_content" id="appAuth">
        	<ul>
                <li><dl>{$Lang.AuthDefaule}:</dl><dt>{$AuthDefaule}</dt><dr></dr></li>
                <li><dl>{$Lang.AuthApp}:</dl><dt>{$AuthApp}</dt><dr></dr></li>
                <li><dl>{$Lang.AuthWay}:</dl><dt>{$AuthWay}</dt><dr></dr></li>
            </ul>
        </div>
    </div>
    
</div>

<script type="text/javascript">
var userSafe = new TuserSafe();
userSafe.JS_LANG = {$JS_LANG};

//页面完全再入后初始化
$(document).ready(function(){
	userSafe.init();
});
//释放
$(window).unload(function(){
	userSafe = null;
});
</script>
