
<div class="user_profile_right_box">
    <div class="user_profile_right_box_b">
    	<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="/file/Up">
	        <div class="b_title"></div>
	        <div class="b_content">
	    		<ul>
			        <li>
			        	<dl>{$Lang.Photograph}:</dl>
			        	<dt><input type="file" name="file" id="file" /></dt>
			        </li>
			    </ul>   
	        </div>
	        <div class="b_tool"><input type="submit" name="button" id="button" value="{$Lang.Save}" /></div>
        </form>
    </div>
</div>