
<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/profile_u_active.js"></script>

<div class="user_applist">
	<div class="user_applist_title">{$Lang.AppList}</div>
	{if $appList}
		{foreach item=item key=key from=$appList}
			<div class="user_applist_content" id="now_{$item.AppID}">
				<div class="user_applist_info">
					<div class="info_img"><img src="{$item.img}" /></div>
					<div class="info_title">
						<dl>{$Lang.AppName}:</dl><dt>{$item.aName}</dt>
						<dl>{$Lang.AppInfo}:</dl><dt>{$item.aInfo}</dt>
					</div>
					<div class="info_del"><a href="javascript:active.cancelApp('{$item.AppID}')"><img id="del_{$key}" class="del_img" src="{$__PUBLIC__}/images/fancy_close.png" /></a></div>
				</div>
				<div class="user_applist_plusinfo" id="plusinfo_{$key}">
					{if $item.inviteCode}
						<div class="plus_img">
							<a class="tiptip_plus" href="javascript:active.getInviteCode('{$item.AppID}','{$item.inviteCode}','{$item.user_id}')" title="{$Lang.CreateInviteCode}">
								<img alt="{$Lang.CreateInviteCode}" src="{$__PUBLIC__}/images/addinvite.png" />
							</a>
						</div>
					{/if}
				</div>
			</div>
		{/foreach}
		
		<div class="showpage">{$showpage}</div>
	{/if}
	
	<div class="user_applist_bottom"></div>
</div>

<div id="boxy" style="display: none"> 
 	<Iframe src="#"  name="boxy_content" id="boxy_content" marginheight="0" marginwidth="0" frameborder="0" width="100%" height="100%" scrolling="auto" ></iframe> 
</div>

<script language="javascript"> 
active = new Tactive();
active.JS_LANG = {$JS_LANG};
active.furl = '{$furl}';
//页面完全再入后初始化
$(document).ready(function(){
	active.init();
});
//释放
$(window).unload(function(){
	active = null;
});
</script>