<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/profile_u_points.js"></script>

<div class="user_profile_right_box">
    <div class="user_profile_right_box_b">
        <div class="b_title">{$Lang.Points}</div>
        <div class="b_content">
        	<ul>
                <li><dl>{$Lang.PointSurplus}:</dl><dt>{$inter}</dt><dr><a href="{$platform_pay}">{$Lang.PointRecharge}</a></dr></li>
				<li>
					<dl>{$Lang.PointRecord}:</dl>
					<dt>{$Lang.PointState}</dt>
					<dr><a href="{$platform_pay}/trade/db">{$Lang.PointCheck}</a></dr>
					<dr style="display:none;"><a href="javascript:checkInter('PointRecord','{$Lang.PointRecord}')">{$Lang.PointCheck}</a></dr>
				</li>
            </ul>
        </div>
        
    </div>
    
    <span id="pointRecord" style="display:none">{include file='main/pointRecord.html'}</span>
    
    <div class="user_profile_right_box_b" style="display:none">
        <div class="b_title">{$Lang.PointChange}</div>
        <div class="b_content">
        	<ul>
                <li><dl>{$Lang.AddSpace}:</dl><dt>{$PointContent.1.1}</dt><dr><a href="javascript:checkInter('PointChange','{$Lang.PointRecord}')">{$Lang.PointChange}</a></dr></li>
				<li><dl>{$Lang.AddApp}:</dl><dt>{$PointContent.1.2}</dt><dr><a href="javascript:checkInter('PointChange','{$Lang.PointRecord}')">{$Lang.PointChange}</a></dr></li>
				<li><dl>{$Lang.AddAppAnnounce}:</dl><dt>{$PointContent.1.3}</dt><dr><a href="javascript:checkInter('PointChange','{$Lang.PointRecord}')">{$Lang.PointChange}</a></dr></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
Upoints = new TUpoints();
Upoints.JS_LANG = {$JS_LANG};

//页面完全再入后初始化
$(document).ready(function(){
	Upoints.init();
});
//释放
$(window).unload(function(){
	Upoints = null;
});
</script>