<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/profile_u_profile.js"></script>

<div class="user_profile_right_box">
    <div class="user_profile_right_box_b">
    	<form method="post" id="myform" action="{$__ROOT__}/main/saveSocial.html">
	        <div class="b_title">{$Lang.ContactSocial}</div>
	        <div class="b_content">
	    		<ul>
	    			{foreach item=item from=$socialInfo}
	            		<li>
	            			<dl>{$item.uProvider}:</dl>
	            			<dt>
	            				<input type="text" name="uEmail[]" value="{$item.uEmail}" />
	            				<input type="hidden" name="UserAuthenticationsID[]" value="{$item.UserAuthenticationsID}" />
	            			</dt>
	            		</li>
	            	{/foreach}
			    </ul>   
	        </div>
	
	        <div class="b_tool"><a href="javascript:$('#myform').submit();">{$Lang.Save}</a></div>
        </form>
    </div>
</div>

