<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link href="{$__PUBLIC__}/css/pangu_fancy.css" rel="stylesheet" type="text/css" />
	
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.js" ></script>

<link href="{$__PUBLIC__}/js/boxy/boxy.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.boxy.js" ></script>

<script type="text/javascript" src="{$__PUBLIC__}/js/fancybox/jquery.fancybox.js?v=2.1.3"></script>
<link rel="stylesheet" type="text/css" href="{$__PUBLIC__}/js/fancybox/jquery.fancybox.css?v=2.1.2" media="screen" />

<script type="text/javascript" src="{$__PUBLIC__}/js/DB.profileWork.js" ></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/DB.Fun.local.js" ></script>

</head>
<body>

<div id="reg_box" style="height:450px;">
    <div class="reset_pwd">
    	<input type="hidden" id="AutoID" value="{$listInfo.AutoID}" />
        <div class="input_box">
            <div class="input_box_title_fance"><span class="color_red">*</span>{$Lang.CompanyName}：</div>
            <div class="input_big l_input_box">
            	<input type="text" size="20" id="wCompanyName" value="{$listInfo.wCompanyName}">
            </div>
        </div>
        <div class="input_box">
            <div class="input_box_title_fance">{$Lang.DepartmentPosition}：</div>
            <div class="input_big l_input_box">
            	<input type="text" size="20" id="wDepartment" value="{$listInfo.wDepartment}">
            </div>
        </div>
        <div class="input_box">
            <div class="input_box_title_fance">{$Lang.WorkTime}：</div>
            <div class="select_big l_input_box">
            	{$startYear}&nbsp;&nbsp;{$Lang.Until}&nbsp;&nbsp;{$endYear}
            </div>
        </div>
        <div class="input_box">
            <div class="input_box_title_fance">{$Lang.WorkPlace}：</div>
            <div class="select_big l_input_box">
            	{$state}&nbsp;&nbsp;{$provice}&nbsp;&nbsp;{$city}
            </div>
        </div>
        <div class="input_box_login">
            <div class="input_sub" id="submit_btn"><span> {$Lang.ComfirmSubmit} </span></div>
        </div>
    </div>
</div>

<script type="text/javascript">
var profileWork = new TprofileWork();
profileWork.JS_LANG = {$JS_LANG};

//页面完全再入后初始化
$(document).ready(function(){
	profileWork.init();
});
//释放
$(window).unload(function(){
	profileWork = null;
});

var local = new Tlocal();
local.cJson = {$cJson};
local.proviceName = 'wProvice';
local.cityName = 'wCity';

//页面完全再入后初始化
$(document).ready(function(){
	local.init();
});
//释放
$(window).unload(function(){
	local = null;
});
</script>

</body>
</html>