.login_001
{
    background:url(../images/pangu.png) 0px 0px no-repeat ;
    width:95px;
    height:34px;
}
.login_sina
{
    background:url(../images/pangu.png) 0px -34px no-repeat ;
    width:95px;
    height:34px;
}
.login_qq
{
    background:url(../images/pangu.png) 0px -68px no-repeat ;
    width:95px;
    height:34px;
}
.login_facebook
{
    background:url(../images/pangu.png) 0px -102px no-repeat ;
    width:95px;
    height:34px;
}
.login_005
{
    background:url(../images/pangu.png) 0px -136px no-repeat ;
    width:95px;
    height:34px;
}
.login_006
{
    background:url(../images/pangu.png) -95px 0px no-repeat ;
    width:95px;
    height:34px;
}
.login_linkedin
{
    background:url(../images/pangu.png) -95px -34px no-repeat ;
    width:95px;
    height:34px;
}
.login_twitter
{
    background:url(../images/pangu.png) -95px -68px no-repeat ;
    width:95px;
    height:34px;
}

.login_yahoo
{
    background:url(images/pangu.png) -1225px -110px no-repeat;
    width:95px;
    height:34px;
}
.login_pp
{
    background:url(../images/pangu.png) -1218px -30px no-repeat;
    width:95px;
    height:34px;
}
.login_012
{
    background:url(../images/pangu.png) -1218px -60px no-repeat;
    width:95px;
    height:34px;
}
.login_013
{
    background:url(../images/pangu.png) -1123px 0px no-repeat;
    width:95px;
    height:34px;
}
.login_tumblr
{
    background:url(../images/pangu.png) -1123px -34px no-repeat;
    width:95px;
    height:34px;
}
.login_015
{
    background:url(../images/pangu.png) -1123px -68px no-repeat;
    width:95px;
    height:34px;
}
.login_db
{
    background:url(../images/pangu.png) -1123px -102px no-repeat;
    width:95px;
    height:34px;
}
.login_kx
{
    background:url(../images/pangu.png) -1123px -136px no-repeat;
    width:95px;
    height:34px;
}
.login_rr
{
    background:url(../images/pangu.png) -1218px 0px no-repeat;
    width:95px;
    height:34px;
}
.login_ty
{
    background:url(../images/pangu.png) -1218px -34px no-repeat;
    width:95px;
    height:34px;
}
.login_wy
{
    background:url(../images/pangu.png) -1218px -68px no-repeat;
    width:95px;
    height:34px;
}
.login_sh
{
    background:url(../images/pangu.png) -1123px -170px no-repeat;
    width:95px;
    height:34px;
}
.pangu
{
    background:url(../images/pangu.png) 0px 0px no-repeat;
    width:1320px;
    height:204px;
}
.login_sohu
{
    background:url(../images/pangu.png) 0px -204px no-repeat;
    width:95px;
    height:34px;
}
.login_baidu
{
    background:url(../images/pangu.png) 0px -238px no-repeat;
    width:95px;
    height:34px;
}
.login_github
{
    background:url(../images/pangu.png) 0px -272px no-repeat;
    width:95px;
    height:34px;
}
.login_live
{
    background:url(../images/pangu.png) 0px -306px no-repeat;
    width:95px;
    height:34px;
}
.login_foursquare
{
    background:url(../images/pangu.png) -1226px -171px no-repeat;
    width:95px;
    height:34px;
}
.login_dd
{
    background:url(../images/login.png) 0px -340px no-repeat;
    width:95px;
    height:34px;
}
.login_paypal
{
    background:url(../images/pangu.png) -1226px -141px no-repeat;
    width:95px;
    height:34px;
}
.login_tyi
{
    background:url(../images/login.png) 0px -374px no-repeat;
    width:95px;
    height:34px;
}