.login_qq
{
    background:url(../images/dbowner_login_icon.png) 0px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_wy
{
    background:url(../images/dbowner_login_icon.png) -50px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_sina
{
    background:url(../images/dbowner_login_icon.png) -100px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_rr
{
    background:url(../images/dbowner_login_icon.png) -150px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_db
{
    background:url(../images/dbowner_login_icon.png) -200px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_kx
{
    background:url(../images/dbowner_login_icon.png) -250px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_ty
{
    background:url(../images/dbowner_login_icon.png) -300px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_sohu
{
    background:url(../images/dbowner_login_icon.png) -350px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_baidu
{
    background:url(../images/dbowner_login_icon.png) -400px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_dd
{
    background:url(../images/dbowner_login_icon.png) -450px 0px no-repeat;
    width:50px;
    height:50px;
}
.login_foursquare
{
    background:url(../images/dbowner_login_icon.png) 0px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_linkedin
{
    background:url(../images/dbowner_login_icon.png) -50px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_tyi
{
    background:url(../images/dbowner_login_icon.png) -100px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_facebook
{
    background:url(../images/dbowner_login_icon.png) -150px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_twitter
{
    background:url(../images/dbowner_login_icon.png) -200px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_live
{
    background:url(../images/dbowner_login_icon.png) -250px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_yahoo
{
    background:url(../images/dbowner_login_icon.png) -300px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_openid
{
    background:url(../images/dbowner_login_icon.png) -350px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_paypal
{
    background:url(../images/dbowner_login_icon.png) -400px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_flickr
{
    background:url(../images/dbowner_login_icon.png) -450px -50px no-repeat;
    width:50px;
    height:50px;
}
.login_github
{
    background:url(../images/dbowner_login_icon.png) 0px -100px no-repeat;
    width:50px;
    height:50px;
}
.login_tumblr
{
    background:url(../images/dbowner_login_icon.png) -50px -100px no-repeat;
    width:50px;
    height:50px;
}