{include file='header.html'}

<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/loginForm.js"></script>

<div class="content_box">
    <div class="content_box_c">
           <div class="content">
           		
<div class="lp_box">
   <div class="lp_l_box">
   		<div class="title">{$Lang.WelcomeBack}</div>
   </div>
   <div class="lp_c_box">
   		<div class="lg_box">
   			<div class="title">
   				<ul id="lg_type">
   					<li class="b_r"><a class="pwd pwd_cur" href="javascript:loginForm.changeLoginWay(0,'pwd')">{$Lang.Login_Pwd}</a></li>
   					<li class="b_r b_l"><i class="flow_icon"></i><a class="tl" href="javascript:loginForm.changeLoginWay(1,'tl')">{$Lang.Login_Third}</a></li>
   					<li class="b_l"><a class="qr" href="javascript:loginForm.changeLoginWay(2,'qr')">{$Lang.Login_Qr}</a></li>
   				</ul>	
   			</div>
   			<div class="lg_ct" id="lg_ct_0">
   				<form method="post" id="login_form" action="{$checkLoginUrl}">
	   				<div class="lg_ct_ip"><input type="text" class="input" name="uEmail" id="uEmail"></div>
	   				<div class="lg_ct_ip"><input type="password" class="input" name="uPWD" id="password"></div>
	   				{if $msgkey}<div class="lg_ct_exp">{$msgkey}</div>{/if}
	   				<div class="lg_ct_ck">
		                <div ><input type="checkbox" value="yes" name="remusrname" id="remusrname" /><label>{$Lang.LoginTwoWeek}</label></div>
		            </div>
		            <div class="lg_ct_btn">
		            	<div class="input_sub lg_ct_btn_lg" id="submit_btn"><span> {$Lang.Login} </span></div>
		            	<div class="lg_ct_btn_fg"><a href="/index/forgetPass">{$Lang.ForgetPass}</a></div>
		            </div>  
	            </form>
   			</div>
   			<div class="lg_ct" id="lg_ct_1">
   				{if $thirdLogin}
   					<ul id="lg_ct_list_box">
	   					{foreach item=item key=key from=$thirdLogin}
	   						<li id="{$item.partner}" class="def_partners_t"><dt class="{$item.icon}">{if !$item.icon}{$item.txt}{/if}</dt></li>
	   					{/foreach}
   					</ul>
   				{/if}
   			</div>
   			<div class="lg_ct" id="lg_ct_2">
   				<div class="lg_ct_img"><img src="{$qrCode}" /></div>
   				<div class="lg_ct_bw">{$Lang.QrLogin}<a href="{$clientSDK}" target="_blank">{$Lang.Install}</a></div>
   			</div>
   		</div>
   </div>
   <div class="lp_r_box">
   		<div class="exp_ct" id="exp_ct"></div>
   </div>
</div>
           		
           </div>
    </div>
</div>

<script type="text/javascript">
var loginForm = new TloginForm();
loginForm.ns = '';
loginForm.loginWay = {$loginWay},
loginForm.Partners_json = {$Partners_json};
loginForm.JS_LANG = {$JS_LANG};
loginForm.vData = {$vData};
//页面完全再入后初始化
$(document).ready(function(){
	loginForm.init();
});
//释放
$(window).unload(function(){
	loginForm = null;
});
</script>

{include file='footer.html'}