{include file='header_wap_new.html'}

<script language="javascript" type="text/javascript" src="{$__PUBLIC__}/js/regFrom_wap.js"></script>
	
				<div class="login_right"><a id="reg">{$Lang.JS_LANG.Back}</a><a href="javascript:history.back()" id="login">{$Lang.JS_LANG.Back}</a></div>
			</div>
		</aside>
	</header>
	
	<div id="reg_form">
	<section>
		<div class="line"></div>
		<form method="POST" id="regform" name="regform" action="/index/doregister.html">
			
			<div class="sp_top_10"></div>		
					
			<div class="form_input">
				<div><input type="text" size="20" name="uEmail" id="uEmail" /></div>		
				<div><input type="password" size="20" name="uPWD" id="password" /></div>
				<div><input type="text" size="20" name="uName" id="uName" /></div>
			</div>
								
			<div class="form_button">
				<input type="button" id="reg_rule_btn" size="20" value="{$Lang.JS_LANG.UseRule}" />
				<input type="button" id="submit_btn" class="mar_left" size="20" value="{$Lang.JS_LANG.ComfirmRegister}" />
				<input type="button" id="button_btn" class="mar_left form_btn_clo" size="20" value="{$Lang.JS_LANG.Reset}" />
			</div>
		</form>
	</section>	
	</div>
	
	<section>
		<div id="use_rule">{include file='index/regFrom.html'}</div>
	</section>


<script language="javascript" type="text/javascript">
var regFrom = new TregFrom();
regFrom.ns = '';
regFrom.PH_LANG = {$JS_LANG};

//页面完全再入后初始化
$(document).ready(function(){
	regFrom.init();
});
//释放
$(window).unload(function(){
	regFrom = null;
});
</script>

{include file='footer_wap_new.html'}