        <div class="footer_box">
            <div class="footer_box_c">
              <div class="footer">
                    <div class="l_footer">Powered by DBOwner Engine. Copyright {date('Y')} Yannyo,Inc.</div>
                    <div class="r_footer"><span id="lang_box"></span><span>  &nbsp;<a href="#">{$Lang.AboutUs}</a> | <a href="#">{$Lang.ChanceCoop}</a> | <a href="#">{$Lang.JoinUs}</a> | <a href="#">{$Lang.API}</a> | <a href="#">{$Lang.Feedback}</a> | <a href="#">{$Lang.Help}</a></span></div>
              </div>
            </div>
        </div>

</div>
 <script type="text/javascript" language="javascript">
 $(document).ready( function () { 
     $(".input_box_b div").cssCheckBox(); 
});
 </script>

  <p id="back-to-top"><a href="#top"><span></span>{$BackTop}</a></p>
 
</body>
</html>