<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$title}</title>

{include file='link.html'}
</head>

<body id="top">
<div class="container_box">

		<div class="header_box">
        	<div class="header_box_c">
              <div class="header">
              <div class="header_inner">
                  <div class="h_left">

                  </div>
                  <div class="r_left">

                  </div>
              </div>
          </div>
        </div>
        </div>
